@import '~antd/dist/antd.dark.css';

body {
  background-color: #141414;
  min-height: 100vh;
}

table.addition tbody {
  border-bottom: 1px solid lightgray;
}

table.addition th {
  text-align: left;
}

table.addition th + td,
table.addition td:first-child + td {
  text-align: right;
  padding: 0 24px;
}

table.addition td:nth-child(3) {
  font-style: italic;
}

form.first-round-form .ant-card-type-inner {
  margin-bottom: 24px;
}

form.first-round-form .numbers,
form.first-round-form .checkboxes,
form.first-round-form .selects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

form.first-round-form .selects > * {
  flex: 1;
  margin: 0 24px;
  min-width: 240px;
  max-width: 480px;
}

form.first-round-form > .ant-row {
  margin-bottom: 0;
}

form.first-round-form button[type='submit'] {
  float: right;
}

.results > .ant-card-body {
  display: flex;
  flex-wrap: wrap;
}

.results > .ant-card-body > .ant-card-type-inner {
  flex: 1;
  margin: 0 24px;
}

.results .ledger .ant-card-body {
  padding: 0;
}

.ledger tr > td.ant-table-cell:nth-last-child(1),
.ledger tr > td.ant-table-cell:nth-last-child(2),
.ledger tr > td.ant-table-cell:nth-last-child(3) {
  text-align: right;
}

.disclaimer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.disclaimer > * {
  flex: 1;
  min-width: 512px;
}

.disclaimer > .preamble {
  padding: 24px;
}

.disclaimer > .preamble > *:last-child {
  margin-bottom: 0;
}
