@import '~antd/dist/antd.dark.css';

body {
  background-color: #141414;
  min-height: 100vh;
}

table.addition tbody {
  border-bottom: 1px solid lightgray;
}

table.addition th {
  text-align: left;
}

table.addition th + td,
table.addition td:first-child + td {
  text-align: right;
  padding: 0 24px;
}

table.addition td:nth-child(3) {
  font-style: italic;
}

.round-form .ant-card-type-inner {
  margin-bottom: 24px;
}

.round-form .numbers,
.round-form .checkboxes,
.round-form .selects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.round-form .selects > * {
  flex: 1;
  margin-left: 24px;
  margin-right: 24px;
  min-width: 240px;
  max-width: 480px;
}

.round-form .ant-card-body {
  padding-bottom: 0;
}

.round-form button[type='submit'] {
  float: right;
}

.round-form .past-block {
  margin-bottom: 24px;
}

.results > .ant-card-body {
  display: flex;
  flex-wrap: wrap;
}

.results > .ant-card-body > * {
  margin: 0 24px;
  flex: 1;
}

.ledger tr > td.ant-table-cell:nth-last-child(1),
.ledger tr > td.ant-table-cell:nth-last-child(2),
.ledger tr > td.ant-table-cell:nth-last-child(3) {
  text-align: right;
}

@media (min-width: 992px) {
  .disclaimer {
    display: flex;
    flex-wrap: wrap;
  }

  .disclaimer > * {
    flex: 1;
  }
}

.disclaimer > .preamble {
  padding: 24px;
}

.disclaimer > .preamble > *:last-child {
  margin-bottom: 0;
}

.headquarters-upgrades tr > td.ant-table-cell {
  text-align: right;
}

.headquarters-upgrades tr > td.ant-table-cell:first-child {
  text-align: left;
}

.abort-button {
  display: block;
  margin: 0 auto;
  margin-top: 24px;
}

.round-one,
.round-two {
  padding: 24px;
}

.second-round-form > .ant-card {
  margin-bottom: 0;
}

.second-round-form .two-columns {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
  margin-bottom: 24px;
}

.second-round-form .two-columns > * {
  margin: 0 12px;
  flex: 1;
}
