@import '~antd/dist/antd.dark.css';

body {
  background-color: #141414;
  min-height: 100vh;
}

table.addition tbody {
  border-bottom: 1px solid lightgray;
}

table.addition th {
  text-align: left;
}

table.addition th + td,
table.addition td:first-child + td {
  text-align: right;
  padding: 0 24px;
}

table.addition td:nth-child(3) {
  font-style: italic;
}

form.first-round-form .ant-card-type-inner {
  margin-bottom: 24px;
}

form.first-round-form .numbers,
form.first-round-form .checkboxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

form.first-round-form > .ant-row {
  margin-bottom: 0;
}

form.first-round-form button[type='submit'] {
  float: right;
}

.ledger {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ledger > .ant-table-wrapper {
  flex: 1;
  max-width: 600px;
  margin: 24px;
}
